#About{
  margin-top: 0;
  padding: 5rem 4rem 2rem;
  min-height: 550px;
}
#About h3{
    margin:2rem 0 0;
    padding: 1rem 2rem;
    /* color: #8061d5; */
}
.aboutContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative !important;
}
.tilt{
    width: 45%;
    min-width: 300px;
    transition: 0.2s all;
}
.aboutImg{
    width: 100%;
}
.floating {
    -webkit-animation: movebounce 2s linear infinite;
    animation: movebounce 3s linear infinite;
  }
  
  @-webkit-keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
  
  @keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
.Text{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 30px;
    width: max(50%,600px);
    margin: 0;
} 
.highlight{
    color: #8061d5;
    transition: all 0.5s;
}
.highlight:hover{
     color: #D0BFFF;
}
#About .space{
    padding-right: 10px;
}

@media (max-width: 1040px){
    .aboutContainer{
        flex-direction: column;
    }
    .aboutImg{
        min-width: 280px;
    }
    .Text{
        width: max(85%,250px);
        padding: 0 2rem;
    }
}
@media (max-width: 580px){
    #About, #skillsContainer{
        padding: 5rem 36px 2rem;
    }
    #About h3{
        padding: 1rem 0.5rem;
    }
    .Text{
        font-size: 16px;
        letter-spacing: 0.6px;
        line-height: 24px;
        width: 85%;
    } 

}
