.homeContainer{
    margin: 6rem 6rem 0;
    line-height: 4rem;
    height: 430px;
}
.homeContainer img{
    width: 520px;
    position: absolute;
    right: 6rem;
    top: 0px;
}
.homeContainer h1{
    font-size: inherit;
    font-weight: inherit;
    margin: 0px;
    line-height: 1.5;
    cursor: default;
}
.homeContainer h3{
    font-size: 3rem;
    margin: 0px;
    font-weight: inherit;
    cursor: default;
}
.homeInfoContainer{
    position: relative;
}
.MyName{
    color:transparent;
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #9333ea;
    --tw-gradient-to: #3b82f6;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    background-clip: text;
    font-size: 3.2rem;
    margin: 0px;
    font-weight: 700;
}
.connectIconsDisplay{
    margin-top: 2.5rem;
    margin-right: 1rem;
    font-size: 35px;
}
.connectIconsDisplay:hover{
    transition: all 0.3s;
    opacity: 0.5;
}
.homeContainer .space{
    padding-right: 10px;
}
.homeInfoContainer img{
    display: none;
}
@media (max-width: 1250px){
    .homeContainer{
        margin: 6rem 4rem;
        line-height: inherit;
    }
    .homeContainer img{
       width: 42%;
       right: 0rem;
    }
}
@media (max-width: 1050px){
    .homeContainer{
        margin: 6rem 1rem;
    }
    .homeInfoContainer{
        margin: auto;
        width: fit-content;
    }
    .homeContainer img{
        display: none;
    }
    .homeInfoContainer img{
        display: block ;
        position: absolute;
        right: -60px;
        top: calc(100% - 96px);
        width: 65%;
    }
    .homeContainer .space{
        padding-right: 5px;
    }
    
}
@media (max-width:680px){
    .homeContainer h3{
        font-size: 2rem;
    }
    .MyName{
        font-size: 2.5rem;
    }
    .connectIconsDisplay{
        font-size: 2rem;
        margin: 2rem 0.5rem;
    }
    .homeInfoContainer img{
        right: auto;
        top: 100%;
        width: 100%;
    }
}
@media (max-width: 430px){
    .homeContainer h3{
        font-size: 1.6rem;
    }
    .MyName{
        font-size: 1.9rem;
    }
    .connectIconsDisplay{
        font-size: 1.5rem;
    }

    .homeContainer .space{
        padding-right: 6px;
    }
}


